/.bundle/
/coverage/
/pkg/
/tmp/
*.gem
Gemfile.lock
.rspec_status

# C extension build artifacts
ext/**/*.o
ext/**/*.bundle
ext/**/*.so
ext/**/*.dylib
ext/**/Makefile
ext/**/mkmf.log
lib/hyperion_http/
lib/hyperion_h2_codec/

# Rust extension build artifacts
ext/hyperion_h2_codec/target/

# bench output
bench/keepalive_memory_results/
keepalive_memory_results/
